header{
    padding: 10px;
    .header-logo{
        display: inline-block;
        border: 1px solid;
        vertical-align: middle;
        padding: 20px;
    }
    nav{
        padding: 20px;
        display: inline-block;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            
            li{
                display: inline-block;
                font-weight: 500;
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                        color: white;
                    }                    
                }
                &.active,&:hover{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        left: 25%;
                        right: 0;
                        bottom: 0;
                        border-bottom: 1px solid red;
                        top: 30px;
                        text-align: center;
                        width: 30px;
                    }
                }
            }
        }
    }
    

}